<div>
  <br>
  <br>
  <h2>
    Meal Poll Express is an app for choosing a meal to cook using approval voting.
  </h2>
  <h3>
    Each person can vote for as many items as they want once each.
  </h3>
  <br>
  <br>
</div>