<form class="form" action="" method="post"> 
    <label for="name" class="form-item">
        Name:
        <input type="text" name="name" value="">

    </label>
    {{#each meals}}
    <li> <a href=" "> </a> 
    </li>



</form>