<form class="form" action="/poll" method="post">
    <label for="name" class="form-item" >
        Name:
        <input type="text" name="name" value="" required>

    </label>
    <p>Choose the meals you like:</p>
    {{#each meals}}
        <input type="checkbox" id={{id}} name={{name}}>
            <label for={{name}}>{{name}}</label>
    {{/each}}
    <input type="submit" name="" value="Vote">
</form>