<section id="results">
  <div class="results-wrapper">
    <div class="results-image">
      <img src="{{resultsImage}}" alt="poll results image">
    </div>
    <div class="results-text">
      <h3>Chosen Meal:{{meals.name}}</h3>
      <h3>Total Number of Votes</h3>
      <h5>Voters{{meals.voters}}</h3>
    </div>
  </div>
</section>