<section id="results">
  <div class="results-wrapper">
    <div class="results-image">
      <img src="{{resultsImage}}" alt="poll results image">
    </div>
    <div class="results-text">
      {{#each meals}}
      <h3>{{name}}</h3>
      <h3>Votes:{{voters.length}}</h3>      
        <p class="voters-list">Voters:{{#each voters}}
         {{this}}<span>,</span>
          {{/each}}
        </p>
      {{/each}}
    </div>
  </div>
</section>