<h2>The People Have Spoketh!</h2>

{{#each meals}}
    <div class="item">
      <img class="results-image" src="{{image}}" alt="poll results image">
      <div class="results-text">
        <h3>{{name}}</h3>
        <h3>Votes:{{voters.length}}</h3>      
        <p class="voters-list">Voters:{{#each voters}}
        {{this}}<span>,</span>
          {{/each}}
        </p>
      </div>
    </div>
{{/each}}
<form class="form" action="/results" method="post">
  <input type="submit" id = "reset" value="Reset poll">
</form>