body {
  background-color: #99e1d9
}

header { 
  display: block;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 45px;
  background-color: #70abaf
}

figure {
  font-family: 'Maven Pro', sans-serif;
}

footer { 
  text-align: center;
  clear: left;
  margin: 20px;
  background-color: #70abaf;
  width: 100%;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
  margin: 15px 5px 15px 5px;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  margin: 10px 5px 10px 5px;
  text-align: center;
}

h3 {
  font-family: 'Maven Pro', sans-serif;
  margin: 10px 5px 10px 5px;
  text-align: center;
}

li{
  padding: 3px;
  font-family: 'Maven Pro', sans-serif;
}

p {
  font-family: 'Maven Pro', sans-serif;
}

.voters-list {
  font-family: 'Maven Pro', sans-serif;
  margin: 10px 5px 10px 5px;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

.border {
  margin: 10px 10px 10px 0px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.headingborder {
  margin: 10px 10px 10px 0px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: #70abaf
}

.button {
  background-color: #99e1d9;
  border-color: black;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  font: 16px;
}

.clearfix:before,
.clearfixf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.column {
  float: left;
}

/* Left column */
.column.left {
  width: 15%;
  background-color: #99e1d9
}

/* Middle column */
.column.middle {
  width: 70%;
  background-color: #f0f7f4;
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-evenly;
}
/* flexbox that contains the voting section */
.pollContainer{
  width: 90%;
  background-color: #f0f7f4;
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-evenly;
}

/* right column */
.column.right {
    width: 15%;
    background-color: #f0f7f4;
}

/* Responsive layout - columns will stack vertically on small screens */
@media screen and (max-width: 1200px) {
  .column.right, .column.left {
    width: 100%;
  }
}

.results-image {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
  
}

.form{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 15px 15px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 15px 15px;
}

#homeicon {
  align-content: left;
  padding-left: 30;
  padding-top: 10;
  background-color: #70abaf
}

.checkbox{
  height: 25px;
  width: 25px;
  background-color: #eee;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}

input[type=submit]{
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color:  #70abaf;
}