body {
  background-color: #99e1d9
}

header { 
  display: block;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 45px;
  background-color: #70abaf
}

figure {
  font-family: 'Maven Pro', sans-serif;
}

footer { 
  text-align: center;
  clear: left;
  margin: 20px;
  background-color: #70abaf;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
  margin: 15px 5px 15px 5px;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  margin: 10px 5px 10px 5px;
  text-align: center;
}

h3 {
  font-family: 'Maven Pro', sans-serif;
  margin: 10px 5px 10px 5px;
  text-align: center;
}

li{
  padding: 3px;
  font-family: 'Maven Pro', sans-serif;
}

p {
  font-family: 'Maven Pro', sans-serif;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

.border {
  margin: 10px 10px 10px 0px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.headingborder {
  margin: 10px 10px 10px 0px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: #70abaf
}

.button {
  background-color: #99e1d9;
  border-color: black;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  font: 16px;
}

.clearfix:before,
.clearfixf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.column {
  float: left;
}

/* Left column */
.column.left {
  width: 20%;
  background-color: #99e1d9
}

/* Middle column */
.column.middle {
  width: 60%;
  background-color: #f0f7f4;
}

/* right column */
.column.right {
    width: 20%;
    background-color: #f0f7f4;
}



.results-image {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

#homeicon {
  align-content: left;
  padding-left: 30;
  padding-top: 10;
  background-color: #70abaf
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-shrink: 1;
}